<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842560595343-jhlb80a9tmjlakh3rvort9c5e2vvelr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842560595343-jhlb80a9tmjlakh3rvort9c5e2vvelr1</string>
	<key>API_KEY</key>
	<string>AIzaSyB7c4v0bWLWJ0d_K-Y0gPQCKHCcm4ziJv8</string>
	<key>GCM_SENDER_ID</key>
	<string>842560595343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rolluplife.rolluplife.SneakerStoreApp</string>
	<key>PROJECT_ID</key>
	<string>rolluplife-a6d90</string>
	<key>STORAGE_BUCKET</key>
	<string>rolluplife-a6d90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842560595343:ios:ce595cfd921347fdf457fa</string>
</dict>
</plist>